@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body{font-family: "Nunito";}
.container{
    border: 3px solid black;
    border-radius: 15px;
}
.tab button{
    background:none;
    border:none;
    font-size:x-large;
}
.active{
    border-bottom: 2px solid black;
}